@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@350&display=swap');
body
{
    display: flex;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.post
{
    height: 60%;
    max-width: 40%;
    border:1px black solid;
}

.post_image_div
{
    position: relative;
    border: 1px black solid;
    width: 100%;
    height: 60%;
    

}

.post_image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7%;
    
}

.post_cat_follow_div
{
    position: absolute;
    display: flex;
    left: 3%;
    bottom:2%;
    z-index: 10;
    width: auto;
    white-space: nowrap;
}

.category 
{
    
    background-color: white;
    padding: 6%;
    height: 8%;
    z-index: 10;
    border-radius: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 10%;

}

.follow
{
    background-color: #a864ce;
    padding: 6% 15% 6% 15%;
    height: 8%;
    z-index: 10;
    border-radius: 20px;
    line-height: 20px;
    text-align: center;
}

.category p
{
    margin: 0px;
    font-size:0.8em;
    text-align: center;
    color:#a864ce;
}

.follow p
{
    margin: 0px;
    font-size:0.8em;
    text-align: center;
    color:yellow;
    font-size:1.2em;
}

.post_info_comment_likes_div
{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    border: 1px solid black;
    white-space: nowrap;
    
}

.post_info_comment_likes_div p
{
    margin: 0px;
    font-size: auto;
    text-align: center;
}

.post_info_left, .post_info_right
{
    max-width: 40%;
    padding-top:2%;
    padding-bottom: 2%;
    font-size: auto !important;
    line-height: 20px;
    text-align: center;
}

.fa-comment
{
    color:#a864ce;
}

.fa-heart
{
    color: #ff6666;
}

.tittle p
{
    margin:0px;
    font-weight: bolder;
    text-align: justify;
}


.post:hover
{
    opacity: 0.5;
    cursor: pointer;
}

@media screen and (max-width: 900px) 
{
    .post
    {
        margin: 5%;
        height: 40%;
        max-width: 40%;
        border:1px black solid;
    }

}
